img {
   width: 200;
   border: 2px solid red;
   border-radius: 8px;
   border-radius: 50%;
}
span {
	color: red;
}
body {
	background-image: url("https://pixabay.com/get/ge6c100cfdf6828c89f7d2d6de288cf7b829d9b5943e885c12154814428ea8f31925d357dc72aad7cdf57380afbafd18b52b390ab01fcbce64e4ff2feeac3da47de9fc17c8e64dc0835d51d8f53e115af_1920.jpg");
	background-color: pink;
	font-family: Arial;
	font-size: 24;
}
div {
	font-family: Bradley Hand ITC;
}
#specialStyle {
			 display: block;
			 margin-left: auto;
			 margin-right: auto;
			 width: 50%;
}
#Italy {
	width: 80%;
	border: 2px solid white;
	background-color: coral;
}
.center {
     text-align: center;
}

.bigFont {
	font-size: 30;
}
h3 {
	background-color: yellow;
}




