img {
   width: 200;
   border: 2px solid red;
   border-radius: 8px;
   border-radius: 50%;
}
span {
	color: red;
}
body {
	background-image: url("https://cdn.pixabay.com/photo/2015/09/22/19/00/ship-952292__340.jpg");
	background-color: pink;
	font-family: Aharoni;
	font-size: 28;
}
div {
	font-family: Bradley Hand ITC;
}
#specialStyle {
			 display: block;
			 margin-left: auto;
			 margin-right: auto;
			 width: 50%;
}
#Italy {
	width: 80%;
	border: 2px solid white;
	background-color: coral;
}
.center {
     text-align: center;
}

.bigFont {
	font-size: 30;
}
h3 {
	background-color: yellow;
}
p.thick {
  font-weight: bold;
}
title {
	 text-align: center ;
}




